<nav class="navbar  navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <footer id="footer">
          <!-- {% include twitter_plug.html %} -->
          {% include comments.html %}
          <ul class="list-inline social-icon">
            <li><a href="javascript:void(0)" style="color: #ddd; cursor: default;"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com/jchobsononline" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="http://jchobsononline.ca/portfolio/index.html#contact"><i class="fa fa-envelope"></i></a>
            </li>
            <li><a href="https://ca.linkedin.com/in/johnchobson" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
</nav>
