<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <title>{{ site.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.name }}" />
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/font-awesome.css">
<link href="assets/css/custom.css" rel="stylesheet" >

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/ico/favicon.png">

<script src="assets/js/jquery-2.1.1.js"></script>
<script src="assets/js/bootstrap.js"></script>
<!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56381209-1', 'auto');
    ga('send', 'pageview');
  </script>
<!-- end -->
</head>

<body>

  <!-- NAVBAR -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">
          <img src="assets/images/devices-header.png" alt="Loop Logo"/>
        </a>
      </div>
      <nav class="navbar-collapse collapse" id="main-nav" role="navigation">
        <ul class="nav navbar-nav navbar-right nav-text-light">
          <li><a href="#top">HOME</a></li>
          <li class="active"><a href="#about">BLOG</a></li>
          <li><a href="#about">ABOUT ME</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#works">WORKS</a></li>
          <li><a href="#contact">CONTACT ME</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- END NAVBAR -->

  <div class="container">

    <div class="page-header">
      <h1>Blog - <small>John C. Hobson</small></h1>
    </div>
